<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore>
    <processors>
      <loggedin>
        <processor mode="on" type="DeploymentMode.Processors.LoggedInProcessor, DeploymentMode"/>
      </loggedin>
    </processors>
    <pipelines>
      <publishItem>
        <processor type="DeploymentMode.Processors.PublishProcessor, DeploymentMode" patch:before="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.RaiseProcessingEvent, Sitecore.Kernel']"/>
      </publishItem>
    </pipelines>
  </sitecore>
</configuration>